@import "tailwindcss";

@plugin '../hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans: "font", sans-serif;
    --font-mono: "monospace", monospace;
}

.internal-page p {
    text-align: left;
}

@media (min-width: 768px) {
    .internal-page p {
        text-align: justify;
        text-align-last: left;
    }
}
