@import "tailwindcss";

@plugin '../hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans: "Quicksand", sans-serif;
    --font-mono: "monospace", monospace;
}

body {
    font-weight: 700;
}

input,
textarea,
select,
[data-slot="input"],
[data-slot="input"] input,
[data-slot="input-wrapper"] input,
[data-slot="input-wrapper"] textarea {
    font-weight: 800 !important;
}

input::placeholder,
textarea::placeholder {
    font-weight: 700;
}

button .material-symbols-rounded,
[role="button"] .material-symbols-rounded,
[role="menuitem"] .material-symbols-rounded {
    color: currentColor !important;
}

.internal-page p {
    text-align: left;
}

@media (min-width: 768px) {
    .internal-page p {
        text-align: justify;
        text-align-last: left;
    }
}
